# Module 1 - Reshaping Data with Pandas
## Pandas Part 3

In [1]:
import pandas as pd
uci = pd.read_csv('data/heart.csv')

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [2]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [3]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [4]:
uci.groupby('sex').get_group(0)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [ ]:
uci.groupby('sex').mean()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [14]:
# Your code here!
uci.groupby('target').mean()['chol']
# uci.groupby('target').mean().loc[:,['chol']]

target
0    251.086957
1    242.230303
Name: chol, dtype: float64

In [16]:
uci.groupby(['sex','cp']).mean()

              age    trestbps        chol       fbs   restecg     thalach  \
sex cp
0   0   57.256410  138.589744  267.538462  0.128205  0.538462  145.282051
    1   51.944444  128.055556  251.444444  0.111111  0.555556  162.833333
    2   54.971429  127.885714  261.057143  0.114286  0.600000  151.800000
    3   63.250000  147.500000  247.000000  0.250000  0.750000  149.500000
1   0   55.105769  129.557692  243.605769  0.125000  0.451923  138.759615
    1   51.031250  128.593750  241.031250  0.093750  0.656250  162.187500
    2   52.538462  132.057692  231.134615  0.250000  0.596154  158.173077
    3   54.315789  139.473684  235.052632  0.210526  0.315789  157.315789

           exang   oldpeak     slope        ca      thal    target
sex cp
0   0   0.461538  1.356410  1.179487  0.820513  2.282051  0.461538
    1   0.111111  0.461111  1.666667  0.555556  2.000000  0.888889
    2   0.057143  0.474286  1.571429  0.257143  2.028571  0.971429
    3   0.000000  1.575000  1.500000  0.500000  2.000000  1.000000
1   0   0.596154  1.393269  1.288462  1.019231  2.509615  0.201923
    1   0.062500  0.234375  1.687500  0.343750  2.218750  0.781250
    2   0.173077  1.015385  1.461538  0.807692  2.326923  0.673077
    3   0.210526  1.352632  1.210526  0.473684  2.315789  0.631579

### Apply to Animal Shelter Data

In [17]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD')

In [21]:
animal_outcomes

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
117733,A818421,NaN,06/08/2020 04:14:00 PM,06/08/2020 04:14:00 PM,5411 Evans in Austin (TX),Stray,Normal,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby
117734,A818435,NaN,06/08/2020 05:52:00 PM,06/08/2020 05:52:00 PM,Lady Bird Lake in Austin (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Brown Tabby
117735,A818434,NaN,06/08/2020 05:52:00 PM,06/08/2020 05:52:00 PM,Lady Bird Lake in Austin (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Lynx Point
117736,A811195,*Lawerance,06/08/2020 11:35:00 PM,06/08/2020 11:35:00 PM,8712 Manor Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,5 years,German Shepherd,Brown/Black
117737,A818414,NaN,06/08/2020 02:16:00 PM,06/08/2020 02:16:00 PM,Southwood Road And South 6Th Street in Austin ...,Stray,Normal,Dog,Intact Female,1 year,German Shepherd,Brown/Black

In [39]:
animal_outcomes['Age upon Intake'] = pd.to_datetime(animal_outcomes['Age upon Intake'])

ParserError: Unknown string format: 2 years

In [38]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117738 entries, 0 to 117737
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         117738 non-null  object
 1   Name              80679 non-null   object
 2   DateTime          117738 non-null  object
 3   MonthYear         117738 non-null  object
 4   Found Location    117738 non-null  object
 5   Intake Type       117738 non-null  object
 6   Intake Condition  117738 non-null  object
 7   Animal Type       117738 non-null  object
 8   Sex upon Intake   117737 non-null  object
 9   Age upon Intake   117738 non-null  object
 10  Breed             117738 non-null  object
 11  Color             117738 non-null  object
 12  age               117738 non-null  int64
dtypes: int64(1), object(12)
memory usage: 11.7+ MB

In [51]:
import datetime

def convert_to_years_old(val):
    number, unit = val.split(' ')
    number = int(number)
    if 'year' in unit:
        return number * 365 /365
    if 'month' in unit:
        return number * 30 /365
    if 'week' in unit:
        return number * 7 /365
    if 'day' in unit:
        return number
    return 'unknown'

In [52]:
animal_outcomes['age'] = animal_outcomes['Age upon Intake'].map(convert_to_years_old)

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [53]:
animal_outcomes.loc[:,['Animal Type','age']].groupby(['Animal Type']).mean()

                  age
Animal Type
Bird         1.451340
Cat          1.472934
Dog          2.631500
Livestock    0.723157
Other        1.306815

In [48]:
animal_outcomes.groupby(['Animal Type']).mean()

                    age
Animal Type
Bird         497.855839
Cat          497.359772
Dog          950.579505
Livestock    263.952381
Other        463.200388

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [56]:
uci.pivot(values=['sex','cp'], columns='target')

        sex        cp
target    0    1    0    1
0       NaN  1.0  NaN  3.0
1       NaN  1.0  NaN  2.0
2       NaN  0.0  NaN  1.0
3       NaN  1.0  NaN  1.0
4       NaN  0.0  NaN  0.0
..      ...  ...  ...  ...
298     0.0  NaN  0.0  NaN
299     1.0  NaN  3.0  NaN
300     1.0  NaN  0.0  NaN
301     1.0  NaN  0.0  NaN
302     0.0  NaN  1.0  NaN

[303 rows x 4 columns]

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on='age',
          lsuffix='_A',
          rsuffix='_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

### `pd.concat()`

In [ ]:
pd.concat([ds_chars, states], sort=False)

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

_Hints_ :
- import and clean the intake dataset first
- use `apply`/`applymap`/`lambda` to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new `days-in-shelter` column
- Notice that some values in `days_in_shelter` are `NaN` or values < 0 (remove these rows using the "<" operator and `isna()` or `dropna()`)
- Use `groupby` to get aggregate information about the dataset (your choice)

To save your dataset:
Use the notation `df.to_csv()` or `df.to_excel()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [57]:
#code here
animal_intakes = pd.read_csv('https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD')
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [70]:
animal_intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117743 entries, 0 to 117742
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         117743 non-null  object
 1   Name              80681 non-null   object
 2   DateTime          117743 non-null  datetime64[ns]
 3   MonthYear         117743 non-null  object
 4   Found Location    117743 non-null  object
 5   Intake Type       117743 non-null  object
 6   Intake Condition  117743 non-null  object
 7   Animal Type       117743 non-null  object
 8   Sex upon Intake   117742 non-null  object
 9   Age upon Intake   117743 non-null  object
 10  Breed             117743 non-null  object
 11  Color             117743 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 10.8+ MB

In [68]:
animal_intakes['DateTime'] = pd.to_datetime(animal_intakes['DateTime'])

In [80]:
animal_intakes.columns = animal_intakes.columns.map(lambda x: x.lower().replace(" ", "_"))

In [87]:
joined_table = animal_intakes.join(animal_outcomes.set_index('animal_id'), on = 'animal_id',lsuffix='_intake',rsuffix='_outcome')

In [90]:
joined_table['time_in_shelter'] = joined_table['datetime_outcome'] - joined_table['datetime_intake']

In [101]:
import datetime

joined_table['days_in_shelter'] = joined_table.time_in_shelter.dt.days

In [107]:
joined_table['days_in_shelter']

0            4.0
1            0.0
2            6.0
3            0.0
4            3.0
           ...
117739     -57.0
117740   -1405.0
117740   -1927.0
117741       NaN
117742       NaN
Name: days_in_shelter, Length: 152705, dtype: float64

In [125]:
joined_table_days = joined_table.loc[joined_table['days_in_shelter'] >= 0]

In [168]:
joined_table_days.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134014 entries, 0 to 117739
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   animal_id            134014 non-null  object
 1   name_intake          97094 non-null   object
 2   datetime_intake      134014 non-null  datetime64[ns]
 3   monthyear_intake     134014 non-null  object
 4   found_location       134014 non-null  object
 5   intake_type          134014 non-null  object
 6   intake_condition     134014 non-null  object
 7   animal_type_intake   134014 non-null  object
 8   sex_upon_intake      134013 non-null  object
 9   age_upon_intake      134014 non-null  object
 10  breed_intake         134014 non-null  object
 11  color_intake         134014 non-null  object
 12  name_outcome         97094 non-null   object
 13  datetime_outcome     134014 non-null  datetime64[ns]
 14  monthyear_outcome    134014 non-null  object
 15  date_of_birth        134014 non-null  object
 16  outcome_type         134007 non-null  object
 17  outcome_subtype      56563 non-null   object
 18  animal_type_outcome  134014 non-null  object
 19  sex_upon_outcome     134009 non-null  object
 20  age_upon_outcome     133966 non-null  object
 21  breed_outcome        134014 non-null  object
 22  color_outcome        134014 non-null  object
 23  time_in_shelter      134014 non-null  timedelta64[ns]
 24  days_in_shelter      134014 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(21), timedelta64[ns](1)
memory usage: 31.6+ MB

In [177]:
export = joined_table_days[['animal_id','animal_type_intake','days_in_shelter']].groupby('animal_id').sum()
export.to_csv('df')

ValueError: No engine for filetype: ''

In [73]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,2019-05-08 18:20:00,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18 16:02:00,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,2016-02-13 17:59:00,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,2014-03-18 11:47:00,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,2014-10-18 18:52:00,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

In [71]:
animal_outcomes['DateTime'] = pd.to_datetime(animal_outcomes['DateTime'])

In [81]:
animal_outcomes.columns = animal_outcomes.columns.map(lambda x: x.lower().replace(" ", "_"))

## 5. Pandas Practice

### Introduction

In [1]:
# find and import the World Cup data held in data/ folder

### Practice Questions <a id="practice"></a>

1. Subset the DataFrame to only non-null rows.

In [ ]:
#Your code here.

2. How many of the matches were in Montevideo?

In [ ]:
#Your code here.

2. b If you haven't already, investigate why this code returns zero:

```python
print(len(df[df.City=="Montevideo"]))
```

In [ ]:
#Your code here.

3. How many matches did USA play in 2014?  

Hint: they could have been home or away.  

You can combine conditions like this:  
```python
# Returns rows where either condition is true
df[(condition1) | (condition2)]

# Returns rows where both conditions are true  
df[(condition1) & (condition2)]
```

In [ ]:
#Your code here.

4. How many teams played in 1986?

In [ ]:
#Your code here.

5. How many matches were there with 5 or more total goals?

In [ ]:
#Your code here.

6. Come up with and answer, two other questions you could answer by filtering or subsetting this DataFrame.

In [ ]:
#6a Question:

In [ ]:
#6a Solution (with code):

In [ ]:
#6b Question:

In [ ]:
#6b Solution (with code):