In [4]:
!open .

# Module 1 - Manipulating data with Pandas (continued)
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by [Austin Animal Center](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) over several years and use our Pandas skills from last class and learn some new ones in order to explore this data further.

#### *Our goals today are to be able to*:  

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use `mean`, `min`, `max`, and `value_counts` 
- Use `apply` and `applymap` to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a `groupby` object is and split a DataFrame using `groupby`
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Before we look at the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al

/c/Users/joshu/code/hbs/hbs-ds-060120/module-1/day-6-pandas-2
total 28
drwxr-xr-x 1 joshu 197609     0 Jun  8 07:42 .
drwxr-xr-x 1 joshu 197609     0 Jun  8 07:40 ..
drwxr-xr-x 1 joshu 197609     0 Jun  8 07:42 .ipynb_checkpoints
drwxr-xr-x 1 joshu 197609     0 Jun  8 07:40 data
drwxr-xr-x 1 joshu 197609     0 Jun  8 07:40 images
-rw-r--r-- 1 joshu 197609 17082 Jun  8 07:42 manipulating_data_with_pandas.ipynb

In [58]:
import pandas as pd
uci = pd.read_csv('data/heart.csv')

In [3]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [4]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
uci.shape

(303, 14)

In [59]:
uci.size

4242

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [7]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [12]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [16]:
uci.mean(axis=0) # Try [shift] + [tab] here!

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

In [18]:
uci.age.max()

77

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [19]:
uci['age'].value_counts()[:10]
#uci['age'].value_counts(ascending = True)
#uci['age'].value_counts(sort = False)
uci.age.

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [21]:
# Your code here!
uci.restecg.value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

In [23]:
uci.restecg.unique()

array([0, 1, 2], dtype=int64)

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [24]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [28]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118000 entries, 0 to 117999
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         118000 non-null  object
 1   Name              81031 non-null   object
 2   DateTime          118000 non-null  object
 3   MonthYear         118000 non-null  object
 4   Date of Birth     118000 non-null  object
 5   Outcome Type      117992 non-null  object
 6   Outcome Subtype   53642 non-null   object
 7   Animal Type       118000 non-null  object
 8   Sex upon Outcome  117996 non-null  object
 9   Age upon Outcome  117948 non-null  object
 10  Breed             118000 non-null  object
 11  Color             118000 non-null  object
dtypes: object(12)
memory usage: 10.8+ MB

In [31]:
animal_outcomes.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,118000,81031,118000,118000,118000,117992,53642,118000,117996,117948,118000,118000
unique,105483,18947,97241,97241,6852,9,22,5,5,50,2571,585
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,04/21/2014,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,531,39,39,117,51976,29271,67130,41427,21236,30780,12401

In [34]:
animal_outcomes.Name.value_counts()[:10]

Max         531
Bella       499
Luna        461
Rocky       358
Daisy       345
Princess    328
Charlie     316
Coco        310
Lucy        304
Blue        297
Name: Name, dtype: int64

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [36]:
animal_outcomes.Breed.value_counts()

Domestic Shorthair Mix                   30780
Pit Bull Mix                              8305
Labrador Retriever Mix                    6645
Chihuahua Shorthair Mix                   6174
Domestic Shorthair                        5229
                                         ...
Basenji/Labrador Retriever                   1
Labrador Retriever/Finnish Spitz             1
Chihuahua Longhair/Queensland Heeler         1
Pointer/Queensland Heeler                    1
Miniature Poodle/Jack Russell Terrier        1
Name: Breed, Length: 2571, dtype: int64

In [37]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

In [39]:
animal_outcomes['Animal Type'].unique()

array(['Cat', 'Dog', 'Other', 'Bird', 'Livestock'], dtype=object)

In [43]:
(animal_outcomes['Animal Type'] == 'Dog') & (animal_outcomes['Outcome Type'] == 'Adoption')

0         False
1          True
2          True
3         False
4         False
          ...
117995    False
117996    False
117997     True
117998    False
117999     True
Length: 118000, dtype: bool

In [42]:
animal_outcomes.loc[animal_outcomes['Animal Type'] == 'Dog','Breed'].head()

1                      Chihuahua Shorthair Mix
2           Anatol Shepherd/Labrador Retriever
14                     Chihuahua Shorthair Mix
15                       Yorkshire Terrier Mix
16    Jack Russell Terrier/Chihuahua Shorthair
Name: Breed, dtype: object

In [45]:
animal_outcomes.loc[(animal_outcomes['Animal Type'] == 'Dog') & (animal_outcomes['Outcome Type'] == 'Adoption'),'Breed'].value_counts()

Labrador Retriever Mix                 3417
Pit Bull Mix                           3234
Chihuahua Shorthair Mix                2954
German Shepherd Mix                    1488
Australian Cattle Dog Mix               826
                                       ...
Pointer/Plott Hound                       1
Norfolk Terrier/Cairn Terrier             1
Catahoula/Carolina Dog                    1
Rat Terrier/Pekingese                     1
Dachshund Longhair/Miniature Poodle       1
Name: Breed, Length: 1678, dtype: int64

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [46]:
def successor(x):
    return x + 1

In [49]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [50]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [ ]:
uci['age'].map(successor).tail(10)

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

Exercise: Use an anonymous function to turn the entries in age to strings

In [62]:
uci['age'] = uci['age'].map(lambda x: str(x))

In [63]:
uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    object
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(12), object(1)
memory usage: 33.3+ KB

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [64]:
# Your code here
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118000 entries, 0 to 117999
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         118000 non-null  object
 1   Name              81031 non-null   object
 2   DateTime          118000 non-null  object
 3   MonthYear         118000 non-null  object
 4   Date of Birth     118000 non-null  object
 5   Outcome Type      117992 non-null  object
 6   Outcome Subtype   53642 non-null   object
 7   Animal Type       118000 non-null  object
 8   Sex upon Outcome  117996 non-null  object
 9   Age upon Outcome  117948 non-null  object
 10  Breed             118000 non-null  object
 11  Color             118000 non-null  object
dtypes: object(12)
memory usage: 10.8+ MB

In [68]:
animal_outcomes['DateTime'] = pd.to_datetime(animal_outcomes.DateTime)

In [69]:
animal_outcomes['MonthYear'] = pd.to_datetime(animal_outcomes.MonthYear)

In [70]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118000 entries, 0 to 117999
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         118000 non-null  object
 1   Name              81031 non-null   object
 2   DateTime          118000 non-null  datetime64[ns]
 3   MonthYear         118000 non-null  datetime64[ns]
 4   Date of Birth     118000 non-null  object
 5   Outcome Type      117992 non-null  object
 6   Outcome Subtype   53642 non-null   object
 7   Animal Type       118000 non-null  object
 8   Sex upon Outcome  117996 non-null  object
 9   Age upon Outcome  117948 non-null  object
 10  Breed             118000 non-null  object
 11  Color             118000 non-null  object
dtypes: datetime64[ns](2), object(10)
memory usage: 10.8+ MB

In [71]:
animal_outcomes['Date of Birth'] = pd.to_datetime(animal_outcomes['Date of Birth'])

In [ ]:
animal_outcomes['Date of Birth']

In [73]:
import datetime

datetime.date.today() - datetime.date(2010,5, 15)

datetime.timedelta(days=3677)

In [87]:
def calculate_age(val):
    return round((datetime.datetime.now() - val).days / 365, 2)

In [89]:
animal_outcomes['age'] = animal_outcomes['Date of Birth'].map(calculate_age)

In [90]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,age
0,A794011,Chunk,2019-05-08 18:20:00,2019-05-08 18:20:00,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,3.10
1,A776359,Gizmo,2018-07-18 16:02:00,2018-07-18 16:02:00,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,2.91
2,A720371,Moose,2016-02-13 17:59:00,2016-02-13 17:59:00,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,4.67
3,A674754,NaN,2014-03-18 11:47:00,2014-03-18 11:47:00,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,6.25
4,A689724,*Donatello,2014-10-18 18:52:00,2014-10-18 18:52:00,2014-08-01,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,5.86

Clean-up data impromptu
1. Clean up "Age upon outcome" into a common unit (days)
1. Make all titles lower case, and remove spaces
1. remove null values from certain columns
    - Outcome Type
    - Age upon Outcome
    - Sex upon Outcome
1. Verify DateTime == MonthYear

In [92]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color', 'age'],
      dtype='object')

In [96]:
animal_outcomes.columns = [x.lower().replace(' ', '_') for x in animal_outcomes.columns]
#you can do your function in the beginning of for loop for lists

In [104]:
animal_outcomes = animal_outcomes.dropna(subset= ['outcome_type','sex_upon_outcome','age_upon_outcome'])

In [105]:
(animal_outcomes.datetime == animal_outcomes.monthyear).sum()

117942

In [107]:
animal_outcomes = animal_outcomes.drop(columns='monthyear')

KeyError: "['monthyear'] not found in axis"

In [110]:
animal_outcomes.age_upon_outcome.str.split(' ')

0          [2, years]
1           [1, year]
2         [4, months]
3           [6, days]
4         [2, months]
             ...
117995    [2, months]
117996    [13, years]
117997      [1, year]
117998     [2, weeks]
117999      [1, year]
Name: age_upon_outcome, Length: 117942, dtype: object

In [113]:
def convert_to_days_old(val):
    number, unit = val.split(' ')
    number = int(number)
    if 'year' in unit:
        return number * 365
    if 'month' in unit:
        return number * 30
    if 'week' in unit:
        return number * 7
    if 'day' in unit:
        return number
    return 'unknown'

In [115]:
animal_outcomes['days_upon_outcome'] = animal_outcomes.age_upon_outcome.map(convert_to_days_old)

In [116]:
animal_outcomes

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,age,days_upon_outcome
0,A794011,Chunk,2019-05-08 18:20:00,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,3.10,730
1,A776359,Gizmo,2018-07-18 16:02:00,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,2.91,365
2,A720371,Moose,2016-02-13 17:59:00,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,4.67,120
3,A674754,NaN,2014-03-18 11:47:00,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,6.25,6
4,A689724,*Donatello,2014-10-18 18:52:00,2014-08-01,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,5.86,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117995,A818200,*Baby Spice,2020-06-07 16:34:00,2020-04-03,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair,Black/White,0.18,60
117996,A800898,Chile Pepper,2019-07-28 17:48:00,2006-07-28,Return to Owner,NaN,Dog,Intact Female,13 years,Chihuahua Shorthair,White/Tan,13.87,4745
117997,A817995,*Topeka,2020-06-07 18:01:00,2019-05-30,Adoption,NaN,Dog,Spayed Female,1 year,Labrador Retriever Mix,Brown/White,1.03,365
117998,A818380,NaN,2020-06-07 19:24:00,2020-05-23,Euthanasia,Rabies Risk,Other,Unknown,2 weeks,Bat,Brown,0.04,14
117999,A818054,NaN,2020-06-07 19:17:00,2019-06-01,Adoption,NaN,Dog,Spayed Female,1 year,American Staffordshire Terrier,Chocolate/White,1.02,365

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values='sex', columns='target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('data/states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states], sort=False)

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

_Hints_ :
- import and clean the intake dataset first
- use `apply`/`applymap`/`lambda` to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new `days-in-shelter` column
- Notice that some values in `days_in_shelter` are `NaN` or values < 0 (remove these rows using the "<" operator and `isna()` or `dropna()`)
- Use `groupby` to get aggregate information about the dataset (your choice)

To save your dataset:
Use the notation `df.to_csv()` or `df.to_excel()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here